html, body {
    /* width: 100%; */
    min-height: 100%;
}

@font-face {
    font-family: 'Bacalisties';
    src: url('resources/Bacalisties.ttf') format('truetype');
 }
  
body {
    background-color: whitesmoke;
    /* background: linear-gradient(-45deg, rgb(250, 227, 113) ,#ee7752, #e73c7e, #d03ce7, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 60s ease infinite; */
}

@keyframes gradient {
    0% {
        background-position: 0% 33%;
    }
    33% {
        background-position: 67% 33%;
    }
    67% {
        background-position: 100% 67%;
    }
    100% {
        background-position: 0% 33%;
    }
}

.content {
    max-width: 600px;
    min-height: 100%;
    top: 0;
    float: center;
    /* position: absolute; */
    margin-left: auto;
    margin-right: auto;
    font-family: 'Avenir';
    padding: 0;
    /* background-color: rgba(250, 227, 113, .2); */
}

header {
    text-align: center;
    color: whitesmoke;
}

/* header h1 {
    font-family: 'Bacalisties';
    font-weight: bolder;
    padding-top:10px;
    font-style: italic;
    background: linear-gradient(-45deg, rgb(250, 227, 113) ,#ee7752, #e73c7e, #d03ce7, #23a6d5, #23d5ab);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 60s ease infinite;
    -moz-animation: gradient 60s ease infinite;
	-webkit-animation: gradient 60s ease infinite;
} */

header h1 {
	background: linear-gradient(-45deg, rgb(250, 227, 113) ,#ee7752, #e73c7e, #d03ce7, #23a6d5, #23d5ab);
	background-size: 200%;
	font-family: 'Bacalisties';
	font-weight: 700;
	font-size: 40px;
    background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: gradient 10s ease infinite;
	-moz-animation: gradient 10s ease infinite;
	-webkit-animation: gradient 10s ease infinite;
}

header h1 a {
    text-decoration: none;
}

.links{
    list-style: none;
    padding-left: 0px;
    font-size: 18px;
    color: black;
}

.links li{
    display: inline;
    padding-left: 8px;
    font-weight: 500;
}

.links li a {
    text-decoration: none;
    color: #3f3f3f;
}

.links li a:hover {
    font-weight: 500;
    text-decoration: none;
    background: linear-gradient(-45deg, rgb(250, 227, 113) ,#ee7752, #e73c7e, #d03ce7, #23a6d5, #23d5ab);
    background-size: 400%;
    background-clip: text;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: gradient 10s ease infinite;
	-moz-animation: gradient 10s ease infinite;
	-webkit-animation: gradient 10s ease infinite;
}

/* .dot {
    background: linear-gradient(-45deg, rgb(250, 227, 113) ,#ee7752, #e73c7e, #d03ce7, #23a6d5, #23d5ab);
	background-size: 200%;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: gradient 10s ease infinite;
	-moz-animation: gradient 10s ease infinite;
	-webkit-animation: gradient 10s ease infinite;
} */

#dot1 {
    color: #ee7752;
}

#dot2 {
    color: #d03ce7;
}

#dot3 {
    color: #23a6d5;
}

#dot4 {
    color: #23d5ab;
}

section .homepage-paragraph {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
}

section .paragraph-link {
    font-weight: 500;
    text-decoration: none;
    background: linear-gradient(-45deg, rgb(250, 227, 113) ,#ee7752, #e73c7e, #d03ce7, #23a6d5, #23d5ab);
    background-size: 400%;
    background-clip: text;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: gradient 10s ease infinite;
	-moz-animation: gradient 10s ease infinite;
	-webkit-animation: gradient 10s ease infinite;
}

section .blog-paragraph {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
}


.links li:first-child {
    padding-left: 0px;
}

.entry {
    margin-left: auto;
    margin-right: auto;
    float: center;
    text-align: center;
    padding-top: 10px;
}

.entry h2 {
    font-weight: 600;
    text-decoration: none;
    background: linear-gradient(-45deg, rgb(250, 227, 113) ,#ee7752, #e73c7e, #d03ce7, #23a6d5, #23d5ab);
    background-size: 400%;
    background-clip: text;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: gradient 10s ease infinite;
	-moz-animation: gradient 10s ease infinite;
	-webkit-animation: gradient 10s ease infinite;
    font-size: 22px;
    margin-bottom: 0px;
}

.entry h2 a {
    text-decoration: none;
}

.entry h3 {
    font-weight: 100;
    font-size: 16px;
    color: #777777;
    margin-top: 5px;
    padding-bottom: 15px;
}

.blog-dot {
    text-decoration: none;
    background: linear-gradient(-45deg, rgb(250, 227, 113) ,#ee7752, #e73c7e, #d03ce7, #23a6d5, #23d5ab);
    background-size: 400%;
    background-clip: text;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: gradient 10s ease infinite;
	-moz-animation: gradient 10s ease infinite;
	-webkit-animation: gradient 10s ease infinite;
}
